body {
  font-family: 'Arvo' sans-serif;
}

.jumbotron > img {
  text-align: center;
  max-width: 300px;
  max-height: auto;
  border: 1px solid black;
}

.jumbotron {
  text-align: center;
}
}

#painting {
  display: block;
  border-radius: 50px;
  padding: 0px;
  max-width: 350px;
  height: auto;
}

.panel-body > #psu {
  float: left;
  max-width: 250px;
  height: auto;
  display: block;
  border-radius: 20px;
}

.panel-body > #lake {
  float: right;
  max-width: 215px;
  height: auto;
  display: block;
  border-radius: 20px;
}



.panel-body > #motorbike {
  float: right;
  max-width: 320px;
  height: auto;
  display: block;
  border-radius: 20px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  height: auto;
}

/** {
  border: 1px solid black;
}*/


h3 {
  text-align: center;
}

h2 {
  padding-left: 17%;
}

#project1 {
  background-color: #ccffcc;
}

#project2 {
  background-color: #cce6ff;
}

#project3 {
  background-color: #ffff99;
}

#logo {
  float: left;
  max-width: 200px;
  height: auto;
  display: block;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
