/*Elements*/
/*Banner dimensions: 650 x 1440 or 750 x 825 */

#container {
  z-index: 5;
  background: #F5F5F5;
  margin-top: 100vh;
  height: 100%;
  width: 100%;
  margin-bottom: 8vh;
}

.jumbotron {
  background-image: url(../img/forest.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  z-index: -5;
  color: rgb(255, 249, 234);
  font-family: 'Josefin Sans', sans-serif;
  display: none;
}

.masthead {
  padding-left: 7%;
  padding-top: 15vh;
  display: none;
}

#masthead-subtext {
  padding-left: 7%;
  display: none;
}

#developer {
  display: none;
}

#developer, a {
  /*color: rgb(43, 43, 43);*/
    color: rgb(255, 170, 102);
}

#developer:hover a:hover {
  color: rgb(255, 170, 102);
  text-decoration: none;
  font-weight: bolder;
}

#nav, li {
  list-style-type: none;
  display: inline-block;
}

#nav {
  color: rgb(255, 249, 234);
  font-family: 'Josefin Sans', sans-serif;

  position: fixed;
  bottom: 0;
  margin: 0;
  width: 105%;
  z-index: 6;
  background: rgb(74, 126, 110);
  height: 8vh;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row nowrap;
  justify-content: space-around;
  margin-left: -40px;
}

.nav-option {
  padding: 0 5px 5px 5px;
  margin: 0px;
  text-align: center;
  flex: 1 1 auto;
  cursor: pointer;
}


img {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  height: auto;
}

.project-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row nowrap;
  justify-content: space-around;
}

.project-screenshot {
  padding: 0 0 2% 0;
  margin: 0 0.5% 2% 0.5%;
  text-align: center;
  flex: 1 1 auto;
  height: 92vh;
  width: 40vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 20px 1px grey;
}

.project-details, .university-details {
  display: none;
}

.project-details, .university-details {
  background: rgba(135, 176, 135, 0.9);
  background-size: cover;
  height: 105%;
  padding-top: 10%;
  color: rgb(255, 255, 234);
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.project-details, .university-details > p {
  font-size: 130%;
}

.project-title {
  text-shadow: 2px 2px 10px black;
}

#tomkane {
  background-image: url(../img/tomkanelong.png);
  width: 0%;
}

#restorationstation {
  background-image: url(../img/restorationstationlong.png);
  width: 0%;
}

#careerquest {
  background-image: url(../img/careerquestlong.png);
  width: 0%;
}

#gradysgames {
  background-image: url(../img/gradysgameslong.png);
  width: 0%;
}

#universityapi {
  background-image: url(../img/university.png);
  width: 0%;
}

.university-api-title-layer {
  height: 100%;
  width: auto;
  background-size: cover;
  background-position: center center;
}

/*#universityapi:hover + #university-api-title {
  display: none;
}*/


#university-api-title {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  width: 50%;
  font-size: 450%;
  margin: 35% auto;
  text-shadow: 2px 2px 10px black;
  color: rgb(161, 204, 163);
}


#carbonestimator {
  background-image: url(../img/carbonestimatorlong.png);
  width: 0%;
}

#background-title, #technologies-title, #projects-title, #contact-title {
  padding: 3%;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}


tr, td {
  padding: 20px;
  font-family: 'Josefin Sans', sans-serif;
  height: 8em;
  width: 18em;
  text-align: center;
}



td {
  font-size: 1.5em;
  box-shadow: 1px 1px 5px grey;

}

tr:nth-child(even) {
  background: rgb(74, 126, 110);
  color: rgb(255, 249, 234);
}

tr:nth-child(odd) {
  background: lightgrey;
}

table {
  justify-content: center;
  border-collapse: separate;
  border-spacing: 13px 8px;
}


#background-section {
  margin-top: 5%;
  margin-bottom: 10%;
}

.paragraph {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 130%;
}

#contact-title {
  padding: 0;
  margin: 0;
}

#clincher {
  text-align: center;
  margin-bottom: 2%;
  font-family: 'Josefin Sans', sans-serif;
}

#portrait {
  display: block;
  margin: 10% auto;
  /*border: 1px solid black;*/
  border-radius: 50%;
  width: 40%;
  padding: 0px;
}

/*Contact Section*/
#contact-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;


  -webkit-flex-flow: row nowrap;
  justify-content: center;
  margin-left: -40px;
}

.contact-option {
  margin: 0px;
  text-align: center;
  width: 10%;
  flex: 1 1 auto;
}

.contact-option img {
  width: 20%;
}


.contact-text {
  display: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 150%;
}


/*Bottom of page footer*/

#foot {
  color: lightgrey;
  text-align: center;
}

/*Media Query (padding control)*/

@media screen and (max-width: 790px) {
    #aboutme {
        padding-left: 4%;
    }
}


/*ipad media query*/
@media only screen and (max-device-width: 790px) {
  .project-screenshot {
    height: 43vh;
    width: 40vw;
  }

  .nav-option > h3 {
    font-size: 250%;
    padding: 15px 5px 5px 5px;
  }

  h2 {
    font-size: 300%;
  }
  .paragraph {
    font-size: 200%;
  }
  .project-details > p {
    font-size: 120%;
  }

  .university-details > p {
    font-size: 150%;
  }
}


/*smart phone media query*/
@media only screen and (max-device-width: 440px) {
  .project-screenshot {
    height: 33vh;
    width: 40vw;
  }
  .nav-option > h3 {
    font-size: 250%;
    padding: 25px 5px 5px 5px;
  }
  h2 {
    font-size: 300%;
  }
  .paragraph {
    font-size: 200%;
  }
  .project-details > p {
    font-size: 120%;
  }

  .university-details > p {
    font-size: 150%;
  }


}
